h1 {
	color:green;
}

.header{
	text-align: center;
}

.body {
	overflow: hidden;
}

.body .sidebar{
	border: 1px solid black;
	width: 15%;
	float: left;
}

.body .content {
	border: 1px solid black;
	width: 85%;
}