h1 {
	color:green;
}

.header{
	text-align: center;
}

.body {
	overflow: hidden;
}

.body .sidebar {
	width: 200px;
}

.body .sidebaritem{
	border: 1px solid black;
	padding: 10px;
	border-radius: 25px;
	width: 15%;
	float: left;
	background: #90EE90; 
	text-align: center;
}

.body .content {
	border: 1px solid black;
	padding: 10px 10px 10px 120px;
	border-radius: 25px;
	background: #C1FFC1;
	min-height: 500px;
	/*width: 85%;*/
}